/* PureCSS Header Styles */
/*.custom-wrapper {
    background-color: #343641;
    margin-bottom: 1em;
    min-height: 55px;

    -webkit-font-smoothing: antialiased;
    height: 2.1em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
  
}

.custom-wrapper.open {
    height: 14em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
   color: #ffffff;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 47.999em) {

    .custom-menu-3 {
        text-align: left;
    }

    .custom-toggle {
        display: block;
    }

}*/

a {
    color:darkslateblue;  
    text-decoration-line: underline;
}

.leaflet-popup-content-wrapper .leaflet-popup-tip {
    background:  rgb(237, 241, 245);

}

.leaflet-popup-content {
    font-family: 'Source Sans 3', sans-serif;

    font-size: 15px;
    color: #000000;
    letter-spacing: 0.3px;
}

.custom-wrapper {
    background-color: #32312e;
   /* margin-bottom: 1em;*/
    -webkit-font-smoothing: antialiased;
    height: 3.1em;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -ms-transition: height 0.5s;
    transition: height 0.5s;
    
}

.custom-wrapper.open {
    height: 10em;
}

.custom-menu-3 {
    text-align: right;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: #ffffff;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 47.999em) {

    .custom-menu-3 {
        text-align: left;
    }

    .custom-toggle {
        display: block;
    }

}

.pure-g > div {
    box-sizing: border-box !important;
}


/* MY STYLES HEADER*/
p {
    font-family: 'Source Sans 3', sans-serif;


    
    font-weight: 300;
  
    font-size: 18px;
    letter-spacing: 0.28px;
    margin-bottom: 10px;
    margin-top: 10px;
    line-height: 115%;
    
   
}

.gilded-header-bar
{
    background-color: rgb(33, 33, 38);
}

.gilded-title {
font-family: PlayfairDisplayRoman-SemiBold;
font-size: 25px;
color: rgb(255, 255, 255);
letter-spacing: 0.45px;
text-transform: none;
padding-bottom: 25px;

}

#gilded-title {}

.right-align {
   
}

.gilded-links {
   margin-top: 10px;
   
 
}

.header-link-text {
    font-family: 'Source Sans 3', sans-serif;
font-weight: 400;
    font-size: 20px !important;
    color: #FFFFFF;
    letter-spacing: 0.3px;
     
}

.pure-menu-link:hover {
    background-color: transparent !important; 
    color: #c9c0c0!important; 
}

#home-page-content {
    background-color: rgb(237, 241, 245);
    color: rgb(33, 33, 38);
}
#big-bucket-left {

    padding-left:25px;
    padding-right:25px;
    height: 90vh;
    overflow:auto;

}

#big-bucket-right {
  
    
    

}





#intro-text {
    
    margin-top: 15px;
    margin-bottom: 28px;
   

}

#info-block {
    
}

#info-block-source {
    font-family: 'Source Sans 3', sans-serif;

    font-weight: 400;
font-size: 16px;
letter-spacing: 0.28px;

margin-bottom: 0px;
}


#info-block-title {
    font-family: 'Playfair Display', serif;
    font-weight: 600;
font-size: 21px;
letter-spacing: 0.28px;
}

#info-block-loc {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 19px;
    letter-spacing: 0.28px;
    text-align: right;
}


#description-block {
   
    margin-top: 4px;
    margin-bottom: 4px;
}

#quote-block {

  padding-left: 15%;
  padding-right: 15%;
  margin-top: 10px;
  margin-bottom: 10px;
  
font-family: PlayfairDisplayItalic-Medium !important;
font-size: 23px;
line-height: 120%;
letter-spacing: 0.3px;
}

#quote-citation-block {
 
    text-align: right;
    font-family: 'Source Sans 3', sans-serif;


font-size: 16px;
letter-spacing: 0.28px;
margin-top: 10px;

}

.map-image {
    max-height: 400px;
    width: 100% ;
    object-fit: cover;
    margin-top: 10px;z
}

#image-caption {
    font-family: 'Source Sans 3', sans-serif;
font-weight:300;
text-align: right;

    font-size: 13px;
}

.no-margin {
    margin:0px;
}

/* Map Stuff */

#map {
   height:90vh;
}

#key {
    width: 100%;
    text-align: right;

}

#small-map-div {

}

#small-content-div {

}

.legend {
    background-color: #ffffff;
    opacity: 80%;
    padding: 10px;
   font-family: 'Source Sans 3', sans-serif;
    font-weight:300;
    font-size: 14px;
}

.leaflet-container {
    font-family: 'Source Sans 3', sans-serif;
    font-weight:300;
    font-size: 10px;
    line-height: 120%;
}



/* About Page Styles */

#about-page-content {
  background-color: rgb(237, 241, 245);
  padding: 25px;
  padding-right: 40px;
  max-width: 100%;

}


#about-page-title {
    margin-top: 0px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 600;
font-size: 27px;
letter-spacing: 0.28px;
}

#about-nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

#about-nav-container {
    margin-bottom: 35px;

}


li {
    font-family: 'Source Sans 3', sans-serif;

    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.28px;
    padding-bottom: 10px;
}

.inline-li {
    display: inline;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 400px;
   

}

h3 {

    font-family: 'Playfair Display', serif;
    font-weight: 400;
font-size: 22px;
letter-spacing: 0.28px;
margin-top: 20px;
margin-bottom: 10px;
}
#context {


}

#about-the-map {

}

#gathering-data {

}

#acknowledgments {

}

#data-sources {

}

#about-me {

}

.about-img {
 
   margin-top: 15px;
    object-fit: contain;
    padding: auto;
  }
  
  .inline-image {
    display: inline-block;
    position: relative;

  }
  
  .inline-image img {
    width: 100%;
    height: auto;
  }
  
  .inline-image-caption {
    position: relative;
    width: 100%;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 300;
    font-size: 13px;
    text-align: left; /* Adjust the text alignment as needed */
    padding: 5px; /* Add padding for spacing around the caption */
    padding-bottom: 15px;
    box-sizing: border-box; /* Include padding in the width calculation */
  }



  .about-quote-block {

    font-style: italic;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    

  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.3px;
  }
  
  .about-quote-citation-block {
   
      text-align: right;
      font-family: 'Source Sans 3', sans-serif;
      padding-bottom:25px;
  
  
  font-size: 16px;
  letter-spacing: 0.28px;
  margin-top: 10px;
  
  }